/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

.container img{
    float: left;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Name
  ========================================
*/

.fullname{
    float: left;
    background-color: #4aaaa5;
    color: white;
    

}

.fullname a{
    color: white;
}

.fullname a:hover{
    color: grey;
}
.primary-header{
    font: 300 16px/22px "Georgia", "Times", "Times New Roman", "serif";
    background-color: white;
    border-bottom: 10px solid grey;
    width:100%;
    padding-left: 360px;
    padding-right: 360px;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer{
    text-align: center;
    background-color: grey;
    color: white;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    padding: 20px 0px 1px 0px;
    color: darkgray;
    position: absolute;
}

/*
  ========================================
  Grid
  ========================================
*/

.row-3 p{
    display: inline-block;
    margin: 20px 1.5%;
    width: 30%;
  }
  
.row-4-6 p{
    display: inline-block;
    margin: 0 1.5%;
    width: 30%;
  }

/*
  ========================================
  Custom Style
  ========================================
*/

h1 {
    padding: 20px;
    font-size: 36px;
    line-height: 44px;
}
h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a:hover {
    color: #4aaaa5;
  }
a {
    color: grey;
    text-decoration: none;
}
  
/*
  ========================================
  Nav
  ========================================
*/

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav{
    text-align: right;
    padding: 24px 0px;
}

.nav a{
    margin-right: 10px;
}

.ver-line{
    padding-right: 10px;
    border-right: 1px solid lightgrey;
}

/*
  ========================================
  Main
  ========================================
*/

.main{
    border:2px solid grey;
    width: 960px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 20px 360px;
    background-color: white;
    height: 80%;
}

section p{
    font-size:20px;
}
section img{
    float: left;
    padding-right: 20px;
}

.pattern{
    background-image: url("../images/circuit.png");
    height:735px;
}

.main-header-break{
    border-bottom: 1px solid grey;
    color: #4aaaa5;
    font: 300 16px/22px "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

/*
  ========================================
  Form
  ========================================
*/

input[type=text]{
    width: 100%;
    margin: 20px 0px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1px;
}

input[type=submit]{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 12px 38px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-size: 20px;
  }

  input[type=submit]:hover{
      background-color: grey;
      
  }

  .message {
      display: block;
      height: 300px;
  }